<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/welcome"><img src="../assets/images/theCommunity.png" width="30" height="30">
      The Community</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="(loginStatus | async) as LoginStatus">
          <a class="nav-link" routerLink="/newPost">New Post</a>
        </li>
        <li class="nav-item" *ngIf="(loginStatus | async) as LoginStatus">
          <a class="nav-link" routerLink="/myPost">My Posts</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/login" *ngIf="!(loginStatus | async) as LoginStatus">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register" *ngIf="!(loginStatus | async) as LoginStatus">Register</a>
        </li>
        <li class="nav-item" *ngIf="(user | async) as user1">
          <a class="nav-link">Welcome {{ user1}}</a>
        </li>
        <li class="nav-item" *ngIf="(loginStatus | async) as LoginStatus">
          <a class="nav-link" href="" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
